body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #a5e4ac;
}

header {
    background: #199a37;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

main {
    padding: 20px;
}

.faq-container {
    max-width: 80%;
    margin: 0 auto;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.faq-item {
    margin-bottom: 20px;
}

.faq-question {
    font-size: 1.2em;
    color: #333;
    margin-bottom: 5px;
}

.faq-answer {
    font-size: 1em;
    color: #666;
    margin: 0;
}

footer {
    background: #4bb964;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    position: absolute;
    width: 100%;
    bottom: 0;
}

footer p {
    margin: 0;
}
